
<div style="text-align: center;">
  <h1>Technology Blogs</h1>

  <div *ngIf="!bloginfo.errormessage">

    <button (click)="AddBlog()" mat-raised-button color="primary">Add Blog</button>

    <!-- 查無部落格資料 -->
    <mat-card *ngIf="!bloginfo.bloglist.length">
      <h1>No Blog Found</h1>
    </mat-card>

    <!-- 部落格資料顯示 -->
    <mat-card *ngFor="let item of bloginfo.bloglist">
      <mat-card-header>
        <h1>{{ item.title }}</h1>
        <div style="text-align: right; width: 100%;">
          <button (click)="EditBlog(item.id)" mat-raised-button color="primary"><mat-icon fontIcon="edit"></mat-icon></button>
          <button (click)="RemoveBlog(item.id)" mat-raised-button color="accent"><mat-icon fontIcon="delete"></mat-icon></button>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p>{{ item.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- 資料取得錯誤顯示 -->
  <mat-card *ngIf="bloginfo.errormessage">
    <mat-card-header>
      <h1>Error Occured</h1>
    </mat-card-header>
    <mat-card-content>
      <p style="color: red;">{{ bloginfo.errormessage}}</p>
    </mat-card-content>
  </mat-card>

</div>



